<% if @contact.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@contact.errors.count, "error") %>
			prevented the contact from being saved:</h2>

			<ul>
				<% @contact.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
	</div>
<% end %>


<h1>Create a new contact</h1>

<br />

<%= form_tag "/contacts", method: :post do %>
	First name: <input type="text" name="first_name"><br />
	Middle name: <input type="string" name="middle_name"><br />
	Last name: <input type="text" name="last_name"><br />
	Email: <input type="text" name="email"><br />
	Phone number: <input type="text" name="phone_number"><br />
	Bio: <input type="text" name="bio"><br />
	<!-- Latitude: <input type="float" name="latitude"><br />
	Longitude: <input type="float" name="longitude"><br /> -->
	Address: <input type="text" name="address"><br />
	<input type="submit" value="Create!">
<% end %>

<br />

<%= link_to "Return to index", "/contacts/", method: :get %>